<div class="container">

  <div class="row">
		<div class="col">

		<h2><strong>スレッド投稿</strong></h2>

		</div>
	</div>

	<%= form_for([@user, @item]) do |f| %>
  <div class="row">
		<div class="col">
			<h4>タイトル</h4>
			<%= f.text_field :title, class: "form-control" %>
		</div>
	</div>

  <div class="row">
		<div class="col">
			<h4>概要</h4>
			<%= f.text_area :text, class: "form-control" %>
		</div>
	</div>

  <div class="row">
		<div class="col">
			<%= f.label :tag_list, 'カテゴリをカンマ区切りで入力' %>
			<%= text_field_tag 'item[tag_list]', @item.tag_list, :class => "form-control" %>
		</div>
	</div>

  <div class="row">
		<div class="col">
			<%= f.submit '登録', class: "btn btn-primary" %>
		</div>
	</div>
	<% end %>

</div>